
.about-ken{
    font-family: gotham;
    color: #2edf7c;
}
h2,
h1{
    font-family: gotham;
    color: #2edf7c;
}

h1{
    font-size: 30px;
}
p{
    font-family: gotham;
    max-width: fit-content;
    justify-content: center;
    display: flex;
    flex: 1;
    font-size: 18px;

}
.content{
    max-width: 850px;
    margin: auto;
}

.menu{
    display: flex;
    margin: auto;
    max-width: fit-content;
    float: right;
    margin-right: 5%;
}

.home,
.graphics,
.contact,
.about,
.home-home,
.graphics-home,
.contact-home,
.about-home{
    background: none;
    border: none;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 0px;
    margin-bottom: 25px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font: gotham;
    color: #666565;
    transition: 0.2s;

}
.home-home,
.graphics-home,
.contact-home,
.about-home{
    color: #2edf7c;
}
.home:hover,
.graphics:hover,
.contact:hover,
.about:hover{
    color: #2edf7c;
}

.home-home:hover,
.graphics-home:hover,
.contact-home:hover,
.about-home:hover{
    color: white;
}


.home:active,
.graphics:active,
.contact:active,
.about:active{
    color: #a7a7a8;
}

.m1,
.m2,
.m3,
.m4{
    flex: 1;
    margin-right: 33px;
}
.m3{
    margin-right: 0px;
}

.header{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 390px;
    font-size: 60px;
    font-family: gotham;
    color: white;
    padding-left: 0px;
 
}
.prof{
    margin-top: 5px;
    color: white;
    margin-left: 2.9px;
    font-family: gotham;
}

.all-header{   
    margin-top: 0px;
    background-color: #33333d;
    height: 600px;
    margin-bottom:90px;
    background-image: url(bg/keys.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;

}

.headerdiv,
.profdiv{
    display: flex;
    justify-content: left;
    margin-left: 5%;
}


.bottom-div{
    margin-top: 550px;
    background-color: #33333d;
    height: 250px;
}

.about-ken-div{
    display: flex;
    justify-content: left;
}

.base-contact-div,
.base-text-div,
.base-text-div-2{
    display: flex;
    justify-content: center;
}
.base-text,
.base-text-2{
    margin-top: 45px;
    color: #a7a7a8;
    font-size: 15px;
    display: block;
    margin-bottom: 0px;
    font-size: 15px;
}
.base-text-2{
    margin-top: 5px;
    margin-bottom: 10px;

}

.base-contact{
    font-size: 12px;
    cursor: pointer;
    border: none;
    background: none;
    color: rgb(238, 235, 235);
}
.base-contact:hover{
    text-decoration: underline;
}

.twitter-fb,
.twitter-fb-1{
    color: white;
    transition: 0.2s;
    text-decoration: none;
    width: 20px;
}

.twitter-fb-1{
    margin-right: 10px;
    margin-left: 13px;
}


.twitter-fb:hover,
.twitter-fb-1:hover{
    color: #2edf7c;
}


.social-icons{
    margin-top: 8px;
    display: flex;
    justify-content: center;
}
.social-para-div{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.social-para{
    font-size: 13px;
    color: #a7a7a8;
    margin-top: 45px;
    margin-bottom: 0px;
}
.all{
    background-color: rgb(255, 255, 255);
}
.line{
    height: 1px;
    background-color: rgb(236, 234, 234);
    margin-top: 20px;
}

.what-text{
    max-width: 1000px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    text-align: justify;

}